* {box-sizing: border-box;}

.img-zoom-container1{
 position: relative; 
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 30px;
  height: 30px;
}

.img-zoom-result {
  /* border: 1px solid #d4d4d4; */
  /*set the size of the result div:*/
  width: 30px;
  height: 30px;
}
